.container {
  margin-inline: auto;
  max-width: 1440px;
}
.header__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.header__logo {
  width: 20rem;
}
.form {
  display: flex;
  flex-direction: column;
}
.form__button {
  width: 6rem;
  background-color: transparent;
  margin-top: 15px;
}
.form__text {
  font-weight: 600;
}
